body{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}

.heading{
    font-size: 30px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px cyan;
}

.note{
    font-size: 20px;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 100, 0);
    color: white;
    text-align: center;
}

canvas{
    border: 5px solid black;
    border-radius: 20px;
    box-shadow:5px 5px 5px rgb(0, 0, 255);
}